*{
    margin: 0;
}
.white{
   color:rgb(225, 225, 225); 
}
p{
    text-align: left;
}
.box{
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
}
.box7{
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
.box2{
    opacity: 0.9;
    color: rgb(84, 97, 86);
    text-align: center;
}
.box3{
    display: inline-block;
}
.box4{
    color: rgb(255, 120, 120);
}
.box5{
    color: rgb(147, 123, 255);
    text-align: center;
}
.box6{
    color: rgb(94, 195, 124);
}
#blue{
    color: rgb(182, 192, 255);
}

a:hover{
    color: rgb(223, 223, 255);
}
a{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.box10{
    background-color: rgb(70, 70, 70);
    text-align: left
    ;
}
.box11{
    background-color: rgba(61, 61, 61, 0.8);height: 20px;
}
table{
    text-align: center;
    width:70.5%;
}
main{
    background-color: rgb(253, 246, 218,0.5);
    
}
body{
		background: url("https://patchwiki.biligame.com/images/pcr/6/6e/97fo2haxwpnr9p1m4rpiyialytpqhae.jpg") no-repeat center center fixed;
                -webkit-background-size: cover;
                -o-background-size: cover;                
                background-size: cover;
}
td:nth-child(2n-1){
    background-color: rgba(133, 255, 115, 0.7);
}
td:nth-child(2n){
    background-color: rgba(213, 168, 255, 0.7);
}
td:nth-child(1){
    background-color: rgba(243, 255, 241, 0.7);
}
.box9{
    background-color: rgba(243, 255, 241, 0.7);
    width: 100%;
    height: 100%;
}
td{
    text-align: center;

}
footer{
    background-color: rgb(40, 40, 40);
}
p{
    color: rgb(15, 15, 15);
}
.animechara {
    display: block;
    width: 130px;
    height: 190px;
    max-height: 20vh;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9990;
}
.chara {
    cursor: pointer;
    width: 156px;
    height: 228px;
    max-height: 20vh;
}
ul li{
    list-style: none;
}
.menu{
    width: 100%;
    height: 55px;
    background-color: rgba(95, 95, 95, 0.7);
}
.menu ul li{
    float: left;

    margin-right: 50px;
    margin-top: 20px;

    position: relative;
}
.menu ul li ul{
    width: 120px;
    height: 140px;
    background-color:rgba(85, 85, 85, 0.9);
    display: none;

    position: absolute;
}
.menu ul li ul li{
    color:rgb(224, 224, 224);
}
.menu ul li:hover ul{
    display: block;
}
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    width: 140px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(39, 38, 38,0.8);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 140px; 
  }
  .leftce{
    width: 140px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 90px;
    background-color: rgb(39, 38, 38,1);
    overflow-x: hidden;
    padding-top: 20px;
  }
  .center{
    text-align: center;
  }
  .box12{
    margin: 0 auto;
  }
  .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 1400px;
    background-color: rgb(113, 113, 113,1);
    float: right;
}
